<footer class="site-footer">

    <div class="wrapper">

<!-- hypercomments -->

<!-- hypercomments -->

<!-- Google Analitics -->



<!-- Google Analitics -->

    <h2 class="footer-heading"> Эконом <br/>
        {{ site.title }}
    </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">Жизнь заставит экономить в 2019 году.<br/>
            <strong>Наш проект будет пытаться помочь в этом</strong>.
        </p>
      </div>
    </div>

  </div>

</footer>
